@font-face {
  font-family: Comfortaa;
  src: url("media/Comfortaa-Regular.ttf");
  font-weight:400;
}

body {
  margin: 0;
  vertical-align: middle;
  font-family: Comfortaa, sans-serif;
}

@media print and (orientation: landscape) {
  body {
    background-color: red;
  }
}

footer {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
