@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@font-face {
  font-family: Comfortaa;
  src: url("media/Comfortaa-Regular.ttf");
  font-weight:400;
}

body {
  margin: 0;
  vertical-align: middle;
  font-family: Comfortaa, sans-serif;
}

footer {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* lineas de productos */
.glove {
  color: crimson;
}

.finger {
  color: cadetblue;
}

.rattle {
  color:cornflowerblue;
}

.figure {
  color:dimgrey;
}
