@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@font-face {
  font-family: Comfortaa;
  src: url("media/Comfortaa-Regular.ttf");
  font-weight:400;
}

body {
  margin: 0;
  vertical-align: middle;
  font-family: Comfortaa, sans-serif;
}

footer {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

a {
  margin: 5px;
}

table {
  border:none;
  min-width: 100%;
}

td {
  padding: 5px 10px;
}

tbody tr:nth-child(even) {
   background-color: #fcd894;
}

.price:before {
  content: "$\0000a0";
}
