main {
  min-width: 300px;
  max-width: 1200px;

  margin-right: auto;
  margin-left: auto;
}

.filters {
  float: left;
  width: 230px;
}

.order {
  padding: 0 5px;
}

.active.order:after {
  content: " ^";
}

.filter {
  display: block;
}

.active.filter:after {
  content: " >";
}

.item {
  width: 200px;
  overflow: hidden;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  width: 200px;
}

.item img {
  height: 200px;
  width: auto;
}

.name, .price {
  margin-top: 5px;
  font-size: 110%;
}

.price {
  display: block;
  font-weight: 600;
}

.glove {
  color: crimson;
}

.finger {
  color: cadetblue;
}

.sonaja {
  color:cornflowerblue;
}

.figure {
  color:dimgrey;
}