main {
  min-width: 300px;
  max-width: 1200px;

  margin-right: auto;
  margin-left: auto;
}

.filters {
  float: left;
  width: 215px;
  margin-left: 15px;
  display: none;
}

.order {
  padding: 0 5px;
}

.active.order:after {
  content: " ^";
}

.filter {
  display: block;
}

.active.filter:after {
  content: " >";
}

.item {
  width: 200px;
  overflow: hidden;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
}

.item .product-image {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.item img {
  height: 200px;
  width: auto;
}

.name, .price {
  font-size: 110%;
}

.price {
  padding: 7px;
  border-radius: 3px;
  font-weight: bold;
  display: inline-block;
  color: black;
  text-decoration: none;
  transition:background-color .125s;
}

.price:before {
  content: "$ ";
}

.purchase {
  text-align: right;
  vertical-align: middle;
  margin-top: 7px;
}

.stock {
  margin-top: 5px;
  float: left;
}

.stock:after {
  content: " disponible(s)";
  font-size: 13px;
  color: dimgrey;
}

.stock.unique:after {
  content: "Producto único";
}

.item:hover .price {
  background-color: cornflowerblue;
}

.line {
  font-size: 0.95em;
}

/* product detail pop-up */

.pop-up {
  width: 800px;
  padding: 0px;
  box-sizing: border-box;
}

.pop-up .product-image {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.pop-up.image {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}

/* iPad */
@media screen and (max-device-width: 1024px) {
  .pop-up {
    width: 750px;
  }
}

@media screen and (max-device-width: 480px) {
  .pop-up {
    width: 310px;
  }
}
